<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogroup.mybatis.WalletMapper">
	<resultMap id="walletResultMap" type="WalletDTO">
		<id property="transactionNo" column="transaction_no"/>
		<result property="email" column="user_email"/>
		<result property="walletBalance" column="wallet_balance"/>
		<result property="transactionDate" column="transaction_date"/>
		<result property="transactionUser" column="transaction_user"/>
		<result property="transactionCategory" column="transaction_category"/>
		<result property="transactionMoney" column="transaction_money"/>
		<association property="study" javaType="StudyDTO">
			<result property="studyId" column="study_id"/>
			<result property="studyTitle" column="study_title"/>
		</association>
	</resultMap>
	
	<select id="selectWallet" parameterType="hashmap" resultMap="walletResultMap">
		SELECT
			a.* from  (SELECT rownum rn,
			w.transaction_no,
			w.user_email,
			w.wallet_balance,
			w.transaction_date,
			w.study_id,
            s.study_title,
			w.transaction_user,
			w.transaction_category,
			w.transaction_money
		FROM
			wallet w
        LEFT JOIN study s ON s.study_id = w.study_id
		WHERE
			w.user_email = #{email}
        ORDER BY w.transaction_no DESC) a
        where rn between #{startRow} and #{endRow} 
	</select>
	
	<update id="updateUserBalance" statementType="CALLABLE" parameterType="hashmap">
		{ CALL proc_userwallet (
			#{flag},
			#{email},
			#{transactionUser},
			#{transactionCategory},
			#{transactionMoney}
		)}
	</update>
	
	<select id="selectWalletTotalCnt" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM
			wallet
		WHERE
			user_email = #{email}
	</select>
</mapper>